ion-card-title {
    font-size: 1.4rem;
    text-align: center;
    color: #3880ff;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-list-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
  }
  
  ion-button {
    margin-top: 15px;
  }
  