<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Realizar Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!-- Sección para agregar cliente -->
  <app-cliente></app-cliente>

  <ion-divider></ion-divider>

  <!-- Sección del encabezado de fecha -->
  <app-fecha-componenapp-fecha-component></app-fecha-componenapp-fecha-component>

  <ion-divider></ion-divider>

  <!-- Sección para seleccionar el método de pago -->
  <app-mesa-selector></app-mesa-selector>

</ion-content>
